
body{
	 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://img.etimg.com/thumb/msid-65511444,width-643,imgsize-487093,resizemode-4/food-eat-bbq-meat-gettyimages-673139382.jpg);
	 height: 100vh;
	 background-size: cover;
	 background-position: center; 
}

.title h1{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	color:#fff;
	font-size: 70px;
	
}
.title h2{
	color:#fff;
	
}
.menu{
	color:#fff;
	font-size: 30px;
}
.table table{
	color: #fff;
}
h1{
	font-family: arial;
	color: dimgray;
}
#div2{
	width: 140pt;
	padding: 5pt;
	margin: 10pt;
	border: 1px solid lightgray;
	font-size: 16pt;
}
#div1{
	background-color: lightsteelblue;
}